@font-face {
  font-family: 'Orbitron';
  src:  url('../fonts/orbitron/Orbitron-Regular.ttf') format('opentype');
}

@font-face {
  font-family: 'Indie Flower';
  src:  url('../fonts/Indie_Flower/IndieFlower.ttf') format('opentype');
}

body {
    background-color: #ffd29e;
}

.btn-large {
    width: 80%;
}

.btn-color {
    background-color: #c58b67;
}

#huff {
    display: none;
}

#secondTenthsExample {
    font-family: 'Orbitron', sans-serif;
    font-size: 50px;
    padding: 10px;
    border: 5px solid;
    display: inline-block;
    /*width: 370px;*/
    text-align: center;
    border-color: #c58b67;
    box-shadow: 1px 2px 14px 1px rgb(70, 70, 85);
    border-radius: 5px;
    color: #676767;
    margin-top: 20px;
}

.ajusta-icon {
    padding-top: 20px;
}

.titulo {
    font-family: 'Indie Flower', cursive;
    font-size: 1.3 rem;
    margin-left: 5%;
    margin-right: auto;
}

.top-menu-title {
    background-color: #c58b67;
}

a {
    color: #fff;
}

.button-off:hover, .button-off:focus {
    background-color: #e57373 !important;
}

.brow-color {
    background-color: #c58b67;
}

#config-icon {
    padding-top: 20px;
}

label, label:focus {
    color: #fff !important;
    display: block;
    text-align: center;
}

.new-date-input {
    float: right;
}

.btn-large-wotch {
    width: 100%;
}

.botton-wotch-send {
    margin-top: 50px;
}

.wotch {
    font-family: 'Orbitron', sans-serif;
    font-size: 50px;
    padding: 10px;
    border: 5px solid;
    display: inline-block;
    /*width: 370px;*/
    text-align: center;
    border-color: #c58b67;
    box-shadow: 1px 2px 14px 1px rgb(70, 70, 85);
    border-radius: 5px;
    color: #676767;
    margin-top: 20px;
}
